*{
  margin: 0;
  padding: 0;
  border: 0;
}
h1{
  text-align: center;
  font-size: 40px;
}
#h1{

  /*background-image: url(../images/preview.gif);
  background-repeat: no-repeat;*/


}

.body form{
  padding: 10px;
}
.body form input{
  padding: 10px;
  margin: 3px;
  border: 1px solid blue;
  width: auto;
}
.body form p{
  text-align: justify;
  font-family: 'Roboto',cursive;
  font-weight: bold;
  font-size: 20px;
}
.body{
  background-color: white;
  border: 1px solid white;
  position: relative;
  top:40px;


}
nav{
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  padding: 14px;
  z-index: 99;
  text-align: right;
}
nav a{
  color: white;
  padding: inherit;
  text-decoration: none;
}
nav a:hover{
  background-color: #845;
  transition: 400ms;
}
#active{
  background-color: blue;
}
.overal{
  position: relative;
  top: 44px;
}
/*.tra img{
  height: auto;
  width: 100%;*/



}
.tra{
  clear:left;
}
